.module-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.module-information {
    font-size: 16px;
    font-weight: 100;
    width: 100%;
    border: 8px solid transparent;
    border-image: url('../images/statusItemBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    padding: 4px 12px;
    box-sizing: border-box;
}

.module-cards-container {
    display: flex;
    flex-direction: column;
    border: 8px solid transparent;
    border-image: url('../images/statusItemBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    margin-top: 8px;
    gap: 8px;
    width: 100%;
    max-width: 700px;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.module-card {
    border: 8px solid transparent;
    border-image: url('../images/inputBoxBg.png');
    border-image-slice: 20 fill;
    border-image-width: 8px;
    padding: 8px 12px;
    margin: 0 8px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.module-card.completed {
    border: 8px solid transparent;
    border-image-slice: 20 fill;
    border-image-width: 8px;
    border-image: url('../images/hotelCardSelected.png');
}

.module-card:hover {
    transform: translateY(-5px); /* 호버 시 살짝 위로 이동 */
}

.module-title {
    font-size: 18px;
    color: #9A7F5C;
    margin-top: 0;
    margin-bottom: 2px;
}

.module-description {
    font-size: 14px;
    color: #54575C;
    line-height: 1.2;
    flex-grow: 1;
    margin-bottom: 14px;
}

.select-module-btn {
    padding: 4px 0;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
    width: 90%;
    margin-top: auto; /* 버튼을 하단에 붙이기 */
    box-sizing: border-box;
}

.select-module-btn:hover {
    background-color: #9A7F5C;
    transform: scale(1.02);
}

.select-module-btn:active {
    transform: scale(0.98);
}

#finish-game-btn {
    margin-top: 20px;
    width: 90%;
    box-sizing: border-box;
}

@media (min-width: 640px) {

    .module-information {
        width: 100%;
        padding: 8px 18px;
        font-size: 14px;
        line-height: 1.2;
    }

    .module-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        overflow: hidden;
        height: auto;
        padding: 4px 8px;
    }

    .module-card {
        width: auto;
        padding: 8px 8px;
        margin: 0;
        justify-content: space-between;
    }

    .module-title {
        font-size: 17px;
        margin-bottom: 0;
    }

    .module-description {
        font-size: 13px;
        margin-top: 8px;
        margin-bottom: 8px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #finish-game-btn {
        margin-top: 8px;

    }
}